In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('aws_instance_types_with_pricing.csv')
df

,Type,VCPU,Memory,Storage (GB),Network Performance,EBS-Optimized,Price (USD)
0,i3en.24xlarge,96,768.000000,0,100 Gigabit,19000.0,NaN
1,r5.24xlarge,96,768.000000,0,25 Gigabit,19000.0,NaN
2,m2.4xlarge,8,68.399414,0,High,1000.0,NaN
3,im4gn.2xlarge,8,32.000000,0,Up to 25 Gigabit,5000.0,NaN
4,c6in.24xlarge,96,192.000000,0,150 Gigabit,75000.0,NaN
...,...,...,...,...,...,...,...
95,is4gen.4xlarge,16,96.000000,0,25 Gigabit,10000.0,NaN
96,i3en.3xlarge,12,96.000000,0,Up to 25 Gigabit,3800.0,NaN
97,r6gd.medium,1,8.000000,0,Up to 10 Gigabit,315.0,NaN
98,c3.8xlarge,32,60.000000,0,10 Gigabit,NaN,NaN
99,r7a.xlarge,4,32.000000,0,Up to 12.5 Gigabit,1250.0,NaN

In [4]:
selected = df[['Type','VCPU','Memory']]
selected

              Type  VCPU      Memory
0    i3en.24xlarge    96  768.000000
1      r5.24xlarge    96  768.000000
2       m2.4xlarge     8   68.399414
3    im4gn.2xlarge     8   32.000000
4    c6in.24xlarge    96  192.000000
..             ...   ...         ...
95  is4gen.4xlarge    16   96.000000
96    i3en.3xlarge    12   96.000000
97     r6gd.medium     1    8.000000
98      c3.8xlarge    32   60.000000
99      r7a.xlarge     4   32.000000

[100 rows x 3 columns]

In [5]:
sort_df = selected.sort_values(by=['VCPU','Memory'])
sort_df
sort_df = selected.sort_values(by=['VCPU','Memory']).reset_index(drop=True)
sort_df

             Type  VCPU       Memory
0        t1.micro     1     0.612305
1     c7gd.medium     1     2.000000
2      c7a.medium     1     2.000000
3      r6g.medium     1     8.000000
4     r6gd.medium     1     8.000000
..            ...   ...          ...
95   r7a.32xlarge   128  1024.000000
96     r6in.metal   128  1024.000000
97   c6a.48xlarge   192   384.000000
98  inf2.48xlarge   192   768.000000
99      r6a.metal   192  1536.000000

[100 rows x 3 columns]

In [6]:
# User data

In [7]:
user_df = pd.read_csv('ec2_instances_data.csv')
user_df

,instance_id,instance_type,ram_utilization_avg,cpu_utilization_avg,highest_ram_utilization,highest_cpu_utilization,price
0,i-031e1119dd7330e66,c5ad.24xlarge,58.1,3.5,58,12.3,NaN

In [8]:
user_selected = user_df.drop(columns=['price','highest_ram_utilization','highest_cpu_utilization'])
instance_type = user_selected['instance_type'][0]
avg_ram_utilization = user_selected['ram_utilization_avg'][0]
avg_cpu_utilization = user_selected['cpu_utilization_avg'][0]

# if instance_type in sort_df['Type'].values:
#     name = user_selected['instance_type'][0]
#     ram_utilization_avg = user_df['ram_utilization_avg'][0]
#     cpu_utilization_avg = user_df['cpu_utilization_avg'][0]
#     filtered_df = sort_df[(sort_df['VCPU'] <= cpu_utilization_avg) & (sort_df['Memory'] <= ram_utilization_avg)]
#     print(filtered_df.tail(5))
# else:
#     print("NO")


position = sort_df['Type'].tolist().index(instance_type)
print(position)

position = sort_df[sort_df['Memory'] * 0.4 > avg_ram_utilization].index[0]
a = 1
for i in range(position, position-5,-1):
    print('\n',a)
    print(sort_df.iloc[i],'\n')
    a += 1
print(position)


print(sort_df.iloc[position-1::-1])


# filtered_df = sort_df[(sort_df['VCPU'] <= avg_cpu_utilization) & (sort_df['Memory'] <= avg_ram_utilization)]
# best_type = filtered_df['Type'].iloc[-1]
# print(best_type)

87

 1
Type      x1e.2xlarge
VCPU                8
Memory          244.0
Name: 44, dtype: object


 2
Type      f1.2xlarge
VCPU               8
Memory         122.0
Name: 43, dtype: object


 3
Type      m2.4xlarge
VCPU               8
Memory     68.399414
Name: 42, dtype: object


 4
Type      r5a.2xlarge
VCPU                8
Memory           64.0
Name: 41, dtype: object


 5
Type      r6gd.2xlarge
VCPU                 8
Memory            64.0
Name: 40, dtype: object

44
             Type  VCPU      Memory
43     f1.2xlarge     8  122.000000
42     m2.4xlarge     8   68.399414
41    r5a.2xlarge     8   64.000000
40   r6gd.2xlarge     8   64.000000
39    r6a.2xlarge     8   64.000000
38    r7a.2xlarge     8   64.000000
37     i2.2xlarge     8   61.000000
36    m5a.2xlarge     8   32.000000
35     g5.2xlarge     8   32.000000
34   m5zn.2xlarge     8   32.000000
33   m6id.2xlarge     8   32.000000
32    m6a.2xlarge     8   32.000000
31   m5dn.2xlarge     8   32.000000
30     t2.2xlarge     8   32.000000
29   d3en.2xlarge     8   32.000000
28  im4gn.2xlarge     8   32.000000
27  mac2-m2.metal     8   24.000000
26    c5n.2xlarge     8   21.000000
25    c7i.2xlarge     8   16.000000
24     r7a.xlarge     4   32.000000
23     r6a.xlarge     4   32.000000
22     r6i.xlarge     4   32.000000
21     r5a.xlarge     4   32.000000
20  is4gen.xlarge     4   24.000000
19     m5d.xlarge     4   16.000000
18    m6gd.xlarge     4   16.000000
17    m7gd.xlarge     4   16.000000
16    m6id.xlarge     4   16.000000
15     c7a.xlarge     4    8.000000
14    c7gn.xlarge     4    8.000000
13    c6in.xlarge     4    8.000000
12      r6g.large     2   16.000000
11       r3.large     2   15.000000
10     m7gd.large     2    8.000000
9     m6idn.large     2    8.000000
8      m5dn.large     2    8.000000
7       c5d.large     2    4.000000
6        c3.large     2    3.750000
5        t4g.nano     2    0.500000
4     r6gd.medium     1    8.000000
3      r6g.medium     1    8.000000
2      c7a.medium     1    2.000000
1     c7gd.medium     1    2.000000
0        t1.micro     1    0.612305